.caixa {
    background-color: #fed4f6 !important;
}
.title {
    font-family: "calibri";
     font-weight: bold;
      color: #ff6197 !important;
}
.title2 {
    color: #ff6197 !important;
}
.title3 {
font-weight: bold !important;
color: #ff6197;
}
.text-decoration-none {
    text-decoration: none;
}
