.caixa {
    background-color: black;
}

.title {
    color: #ce146a !important;
    font-weight: bold !important;
    font-family: "candara" !important;
}

.subtitle {
    color: #ff6197 !important;
    font-weight: bold !important;
    font-family: "candara" !important;
}

.button {
    border-width: 3px !important;
    border-color: #ff6197 !important;
    background-color: black ;
    color: #ff6197 !important;
    font-weight: bold !important;
    font-family: "candara" !important;
}